main {
    max-width: 800px;
    margin: auto;
    background-color: #EFB092
}
body {
  color: #EFB092; 
}
.title {
    text-align: center;
    color: #585b58; 
    font-family: 'Cormorant Upright', serif;
}
.intro {
    text-align: center;
    color: #585b58;
    font-family: 'Raleway', sans-serif; 
}
.ashNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EFB092;
  }
.ashNav li {
    float: left;
  }
  
.ashNav li a {
    display: block;
    color: #585b58;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.ashNav li a:hover {
    background-color: #9B84ED;
  }

